html {
    background-color: #80cee2;
    color: #2a2a2a;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
}

#slider {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    overflow: hidden;
}

ul {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    transition: transform 0.5s ease;
}

ul li {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
}

ul li:nth-child(odd) {
    background-color: #ccc;
}

ul li:nth-child(even) {
    background-color: #aaa;
}

.control-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 3%;
    background-color: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border: none;
    opacity: 0.8;
    cursor: pointer;
    z-index: 10;
}

.control_prev:hover,
.control_next:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

.control_prev {
    border-radius: 0 2px 2px 0;
}

.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.control-btn[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

